@charset "UTF-8";

body {
    color: #000000;
    background: #ffffff;
    font-size: 13px;
    line-height: 1.3;
    min-width: 320px;
    font-family: 'Poppins', sans-serif;
}

.navbar .navbar-brand-custom {
    color: #83B100;
    font-weight: 700;
    text-transform: uppercase;
    font-size: 22px;
}

.navbar-light .navbar-nav .nav-item .nav-link-custom {
    font-size: 16px;
    font-weight: 500;
    color: black;
}

.nav-item .btn-custom {
    color: #8FC100;
    border-color: #8FC100;
    font-weight: bold;
}

.nav-item .btn-custom:hover {
    background: #8FC100;
    color: white;
}

.jumbotron .jumbotron-subtitle-custom {
    color: #FF6B00;
    font-size: 14px;
    text-transform: uppercase;
}

.jumbotron .btn-custom {
    background: #8FC100;
    color: white;
}

.carousel-item .carousel-image-custom {
    border-radius: 10px;
}

.about-me-wrap {
    background: url("../images/background.jpg") 0 0 no-repeat;
    background-size: cover;
    padding: 100px 0;
    margin-bottom: 100px;
}

.card-custom-title {
    text-align: center;
    padding: 20px 0;
    color: #8FC100;
    text-transform: uppercase;
    font-weight: 700;
}

.card-custom {
    border: none;
    padding: 0 10px 50px 10px;
}

.btn-custom {
    background: #8FC100;
    color: white;
}

.card-custom .card-text-custom {
    font-size: 16px;
}

.video-custom {
    margin-bottom: 100px;
}

.programs-wrap {
    border-top: 3px solid #8FC100;
    padding-top: 20px;
    margin-bottom: 100px;
}

.footer-text {
    text-align: center;
    font-size: 15px;
}

.footer {
    padding: 30px;
    background: #8FC100;
}

@media screen and (min-width: 992px) {
    .carousel-item .carousel-image-custom {
        height: 400px;
    }
}

@media screen and (min-width: 1020px) {

}
